@use '@/styles/core.scss' as * ;

.button {
    @include reset-button;
    @include typography(400, 1, 18px);

    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    height: 50px;
    padding-inline: 20px;
    border: 2px solid transparent;
    border-radius: 4px;
    user-select: none;
    transition: border-color $trans-default, background-color $trans-default, color $trans-default;

    @include vp-1600 {
        height: 45px;
        font-size: 16px;
    }

    @include vp-600 {
        font-size: 15px;
    }

    svg {
        aspect-ratio: 1;
        width: 20px;
        fill: var(--color-text-primary);
    }

    &--blue {
        background-color: var(--color-accent);
        border-color: var(--color-accent);

        @include hover {
            background-color: var(--color-accent-hover);
        }
    }

    &--white {
        background-color: var(--color-gray-100);
        border-color: var(--color-gray-100);
    }

    &--fill {
        border: none;
        font-weight: 500;
    }

    &--stroke {
        background-color: transparent;
    }

    &.button--stroke.button--blue {
        @include hover {
            background-color: var(--color-accent-opacity);
        }
    }

    &.button--fill.button--white {
        color: var(--color-gray-700);

        svg {
            fill: var(--color-gray-700);
        }

        @include hover {
            color: var(--color-accent);

            svg {
                fill: var(--color-accent);
            }
        }
    }
}
