// transitions
$trans-fast: 0.2s ease;
$trans-default: 0.3s ease;
$trans-long: 0.6s ease;

:root {
    // palette
    --color-white: #FFFFFF;
    --color-black: #000000;

    --color-gray-100: #E6EDF3;
    --color-gray-500: #8B949E;
    --color-gray-700: #30363D;
    --color-gray-900: #0D1117;

    --color-blue-200: #DFD8FB;
    --color-blue-400: #9980ff;
    --color-blue-500: #7C5CFC;
    --color-blue-500-20: #7C5CFC33;

    // semantic
    --color-bg: var(--color-gray-900);
    --color-text-primary: var(--color-gray-100);
    --color-text-secondary: var(--color-gray-500);
    --color-accent: var(--color-blue-500);
    --color-accent-hover: var(--color-blue-400);
    --color-accent-opacity: var(--color-blue-500-20);
}
