@use '@/styles/core.scss' as * ;

.sidebar {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100dvh;
    padding: 50px 40px;
    background-color: #30363D;

    @include vp-1600 {
        padding: 40px 30px;
    }

    @include vp-1440 {
        padding: 40px 30px;
    }

    @include vp-1024 {
        flex-direction: row;
        align-items: center;
        width: auto;
        height: auto;
        padding: 20px 40px;
    }

    @include vp-600 {
        padding: 10px 20px;
        overflow-x: clip;
    }

    &:global(.is-active) {
        .sidebar__toggle {
            &::before {
                top: 50%;
                box-shadow: 0 4px 0 transparent;
                transform: translate(-50%, -50%) rotate(45deg);
            }

            &::after {
                top: 50%;
                transform: translate(-50%, -50%) rotate(-45deg);
            }
        }

        .sidebar__nav {
            transform: translateX(0);
        }
    }

    &__logo {
        @include typography(400, 1, 42px, #7C5CFC);

        font-family: "MarckScript";

        @include vp-1440 {
            font-size: 38px;
        }

        @include vp-600 {
            font-size: 32px;
        }
    }

    &__nav {
        display: flex;
        flex-direction: column;

        @include vp-1024 {
            flex-direction: row;
        }

        @include vp-600 {
            position: absolute;
            top: 100%;
            left: 0;
            flex-wrap: wrap;
            gap: 5px 30px;
            width: 100%;
            padding: 10px 20px;
            border-top: 1px solid #8B949E;
            background-color: #30363D;
            transform: translateX(100%);
            transition: transform $trans-default;
        }
    }

    &__link {
        @include typography(300, 1, 20px, #E6EDF3);

        padding: 20px 15px;
        transition: color $trans-default, font-weight $trans-default;

        &:not(:last-child) {
            border-bottom: 1px solid #8B949E;
        }

        @include hover {
            color: #7C5CFC;
        }

        &:global(.is-active) {
            font-weight: 600;
            pointer-events: none;
        }

        @include vp-1600 {
            padding: 15px 10px;
            font-size: 18px;
        }

        @include vp-1440 {
            font-size: 16px;
        }

        @include vp-1024 {
            padding: 10px 15px;

            &:not(:last-child) {
                border-bottom: none;
            }
        }

        @include vp-600 {
            padding-inline: 0;
        }
    }

    &__toggle {
        @include reset-button;

        position: relative;
        display: none;
        width: 40px;
        height: 40px;
        border: none;
        cursor: pointer;
        user-select: none;

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 50%;
            width: 18px;
            height: 2px;
            border-radius: 2px;
            background-color: #7C5CFC;
            transform: translate(-50%, -50%);
            transition: transform $trans-default, opacity $trans-default;
        }

        &::before {
            top: calc(50% - 6px);
            box-shadow: 0 6px 0 #7C5CFC;
        }

        &::after {
            top: calc(50% + 6px);
        }

        @include vp-600 {
            display: block;
        }
    }
}
